@use '../utilities/responsive' as res;

.history {
  margin-top: 4em;

  .history__view {
    margin-top: 2em;
  }

  .history__results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0.5em;
  }

  @include res.mobile {
    margin-top: 6em;

    .history__view {
      margin-top: 4em;
    }
  }

  .view-mode {
    position: absolute;
    right: 0;
    top: 0;

    @include res.mobile() {
      top: 2em;
      right: 1em;
    }
  }
}
