.inputs-modal-state {
  max-width: 25em;
  display: flex;
  flex-direction: row;

  span {
    line-height: 16px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em;

  > * {
    margin-top: 1em;
  }
}

.inputs-modal {
  min-height: 40em;
  max-height: 40em;

  textarea {
    min-height: 20em;
    max-height: 20em;
    width: 24em;
  }
}

