@use '../utilities/responsive' as res;

.reports {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2em 1em 0;

  @include res.mobile_landscape() {
    .tracking-options {
      margin-top: 6em;
    }
  }
}

@include res.mobile_landscape() {
  .reports__results-history {
    position: absolute;
    left: 1em;
    top: 2em;
    width: calc(50% - 4em);
  }
}

.reports__table {
  position: absolute;
  left: 1em;
  top: 11.5em;
  right: 1em;
  bottom: 1.5em;
  overflow: auto;

  @include res.mobile_landscape() {
    position: absolute;
    left: calc(50% - 1em);
    top: 0;
    bottom: 0.5em;
  }

  .reports__loading {
    text-align: center;
  }
}
