@use '../utilities/responsive' as res;

.tracking-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 1em;
  margin-top: 1em;

  @include res.mobile_landscape() {
    flex-wrap: wrap;
    margin-left: 1em;
    max-width: calc(50% - 4em);
  }

  > * {
    min-width: 128px;
    max-width: 128px;
    padding: 0 0.25em;
    border-radius: 1em;
    background-color: #eee;

    label {
      display: block;
      text-align: center;
      margin: 0 -0.25em;
      background-color: #ccc;
      border-radius: 1em 1em 0 0;
    }

    @include res.mobile() {
      min-width: 84px;
      max-width: 84px;
    }

    @include res.mobile_landscape() {
      min-width: 90px;
      max-width: 90px;
      margin: 1em;
    }
  }
}
