@use '../utilities/responsive' as res;

.tracking__pan-zoom {
  position: absolute;
  right: 2em;
  bottom: 2em;

  display: flex;
  flex-direction: column;

  button {
    opacity: 0.25;
    margin: 0.5em;

    &:hover {
      opacity: 1;
    }
  }
}

.tracking--heading {
  text-align: center;
}

.tracking__container {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 2em;
  bottom: 1em;
  background-color: #eee;
  border: 2px solid blue;
  border-radius: 1em;
  overflow: hidden;
}

@mixin coordinates() {
  @for $i from -200 through 200 {
    &[x='#{$i}'] { --left: #{$i}; }
    &[y='#{$i}'] { --top: #{-1 * $i}; }
  }
}

.tracking {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(var(--zoom)) translate(calc(var(--xoffset) * 1px), calc(var(--yoffset) * 1px));
  will-change: transform;
}

.tracking__entry {
  position: absolute;
  opacity: 0.1;
  display: inline-block;
  left: calc(var(--mult) * var(--left) * 1px);
  top: calc(var(--mult) * var(--top) * 1px);
  width: calc(var(--mult) * 1px);
  height: calc(var(--mult) * 1px);
  border-radius: 100%;
  cursor: pointer;

  &[hidden=true] { opacity: 0; }
  &[did='1'] { background-color: var(--did-1-color); };
  &[did='2'] { background-color: var(--did-2-color); };
  &[did='3'] { background-color: var(--did-3-color); };
  &[did='4'] { background-color: var(--did-4-color); };
  &:hover[hidden=false] { opacity: 1; background-color: var(--did-hover-color); }

  @include coordinates();
}

.tracking__x-axis {
  position: absolute;
  left: calc(var(--xoffset) * -1px);
  top: calc((var(--mult)/2 - 1) * 1px);
  height: 2px;
  width: 100%;
  background-color: #ccc;
  opacity: 0.5;
}

.tracking__y-axis {
  position: absolute;
  top: calc(var(--yoffset) * -1px);
  left: calc((var(--mult)/2 - 1) * 1px);
  height: 100%;
  width: 2px;
  background-color: #ccc;
  opacity: 0.5;
}
