@use '../utilities/responsive' as res;

.toolbar {
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-color: #eee;
  color: #333;
  padding: 0 1em;
  border: 2px solid #ddd;

  @include res.mobile_landscape() {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    padding: 0 2em;
    width: calc(100vh - 1em);
    top: calc(100vh - 1em);
  }
}

.toolbar__logo {
  margin-top: 0.5em;
}

.toolbar__links {
  display: flex;
  flex-direction: row;

  a,
  a:visited {
    color: #333;
    text-decoration: none;
  }

  a[mat-list-item] {
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    font-weight: normal;
    border-radius: 0.5em;

    &.active {
      color: #00e;
      background-color: #fff;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}

.toolbar__title {
  text-align: center;
}

.toolbar__inputs {
  margin-top: 0.5em;
}

.toolbar {
  display: grid;
  grid-template-columns: 3em auto 3em;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo title inputs"
    "logo links inputs";

  .toolbar__logo { grid-area: logo }
  .toolbar__title { grid-area: title }
  .toolbar__inputs { grid-area: inputs }
  .toolbar__links { grid-area: links }

}
