<div class="tracking-options">
  <div class="tracking-options__deliverees mat-elevation-z2" *ngIf="options.deliverees > 1">
    <label>Deliverees</label>
    <mat-button-toggle name="deliverees" aria-label="Deliverees" [attr.deliverees]="options.deliverees" >
      <mat-button-toggle [checked]="options.showDel[0]" (change)="toggleChanged(0)">1</mat-button-toggle>
      <mat-button-toggle [checked]="options.showDel[1]" (change)="toggleChanged(1)" *ngIf="options.deliverees > 1">2</mat-button-toggle>
      <mat-button-toggle [checked]="options.showDel[2]" (change)="toggleChanged(2)" *ngIf="options.deliverees > 2">3</mat-button-toggle>
      <mat-button-toggle [checked]="options.showDel[3]" (change)="toggleChanged(3)" *ngIf="options.deliverees > 3">4</mat-button-toggle>
    </mat-button-toggle>
  </div>

  <div class="tracking-options__slider-container mat-elevation-z2">
    <label>Pizzas Min</label>
    <mat-slider
      class="tracking-options__slider"
      thumbLabel
      [displayWith]="formatLabel"
      min="1"
      [max]="options.pmax"
      [(ngModel)]="options.pizzas"
      (change)="endChanged()"
      aria-label="pizzas">
    </mat-slider>
  </div>

  <div class="tracking-options__slider-container mat-elevation-z2">
    <label>Start</label>
    <mat-slider
      class="tracking-options__slider"
      thumbLabel
      [displayWith]="formatLabel"
      min="1"
      [max]="options.max"
      [(ngModel)]="options.start"
      (change)="startChanged()"
      aria-label="entry">
    </mat-slider>
  </div>

  <div class="tracking-options__slider-container mat-elevation-z2">
    <label>End</label>
    <mat-slider
      class="tracking-options__slider"
      thumbLabel
      [displayWith]="formatLabel"
      min="1"
      [max]="options.max"
      [(ngModel)]="options.end"
      (change)="endChanged()"
      aria-label="entry">
    </mat-slider>
  </div>
</div>
