<div class="results" *ngIf="results">
  <div class="results__id">
    <label>Id: </label>
    <span>#{{ results.id }}</span>
  </div>

  <div class="results__date">
    <label>Date: </label>
    <span>{{ results.date | date:'short' }}</span>
  </div>

  <div class="results__deliverees">
    <label>Deliverees: </label>
    <span>{{ results.deliverees }}</span>
  </div>

<!--  <div class="results__dispatch compressed&#45;&#45;hide">-->
<!--    <label>Dispatch: </label>-->
<!--    <span>{{ results.dispatch?.substring(0, 30) }}</span>-->
<!--  </div>-->

  <div class="results__delivered">
    <label>Pizzas: </label>
    <span>{{ results.pizzasCount }}</span>
  </div>

  <div class="results__houses">
    <label>Houses: </label>
    <span>{{ results.housesCount }}</span>
  </div>
</div>
