<div class="inputs-modal-state">
  <button mat-mini-fab
          color="primary"
          aria-label="Display modal to enter Deliverees and Dispatch parameters"
          (click)="showModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #inputsTemplate>
  <div class="inputs-modal">
    <h2>Edit Delivery Parameters</h2>
    <app-inputs></app-inputs>
  </div>
</ng-template>
