<mat-dialog-content>
  <ng-container
    [ngTemplateOutlet]="data.template"
    [ngTemplateOutletContext]="data">
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" cdkFocusInitial>Cancel</button>
  <button mat-button color="primary" (click)="save()" [mat-dialog-close]="data.context">Deliver</button>
</mat-dialog-actions>
