<div class="reports">
  <app-results-history class="reports__results-history" (change)="navChanged($event)"></app-results-history>

  <app-tracking-options
    [options]="options"
    (change)="filter()"
    *ngIf="tracking.length"></app-tracking-options>

  <div class="reports__table mat-elevation-z8">
    <mat-table [dataSource]="dataSource"
               matSort matSortActive="order" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Order</mat-header-cell>
        <mat-cell *matCellDef="let result">{{ result.order }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Deliveree</mat-header-cell>
        <mat-cell *matCellDef="let result">{{ result.dId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="x">
        <mat-header-cell *matHeaderCellDef mat-sort-header>X</mat-header-cell>
        <mat-cell *matCellDef="let result">{{ result.x }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="y">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Y</mat-header-cell>
        <mat-cell *matCellDef="let result">{{ result.y }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pizzas">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pizzas</mat-header-cell>
        <mat-cell *matCellDef="let result">{{ result.pizzas }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

<!--    <mat-paginator [hidden]="!current" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>-->

    <div class="reports__loading" *ngIf="!current">
      <h3>Processing...</h3>
    </div>
  </div>
</div>
