@use './utilities/responsive' as res;
@use './layouts';
@use './components';
@use 'variables';

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}


