$desktop-width: 1000px;
$tablet-width: 765px;
$mobile-smallest: 700px;

:root {
  --desktop-width: 1000px;
  --tablet-width: 765px;
  --mobile-smallest: 700px;
}

@mixin not_mobile {
  @media
  only screen and (orientation: portrait) and (min-aspect-ratio: 3/4),
  only screen and (orientation: landscape) and (min-aspect-ratio: 4/3) {
    @content;
  }
}

@mixin mobile {
  @media
  only screen and (orientation: portrait) and (min-aspect-ratio: 9/16) and (max-width: $tablet-width - 1),
  only screen and (orientation: landscape) and (min-aspect-ratio: 16/9) {
    @content;
  }
}

@mixin mobile_landscape {
  @media screen and (orientation: landscape) and (max-height: $tablet-width - 1px) and (min-aspect-ratio: 5/3) {
    @content;
  }
}

// approximate based on aspect ratio
@mixin mobile_landscape_notch {
  @media screen and (orientation: landscape) and (min-aspect-ratio: 19/9) {
    @content;
  }
}

@mixin mobile_smallest {
  @media screen and (orientation: portrait) and (max-height: $mobile-smallest - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) and (max-aspect-ratio: 4/3) {
    @content;
  }
}

@mixin not_desktop {
  @media screen and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin screen {
  @media screen {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
