@use 'responsive' as res;

.test-responsive {
  --bw: 5px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  background-color: red;
  border: var(--bw) dashed white;

  @include mobile_landscape_notch() {
    right: -3em;
  }

  span {
    box-sizing: border-box;
    position: absolute;
    font-size: 200%;
    border: 1px solid black;
  }

  span:nth-child(1) {
    left: var(--bw);
    top: var(--bw);
  }

  span:nth-child(2) {
    right: var(--bw);
    top: var(--bw);
  }

  span:nth-child(3) {
    left: var(--bw);
    bottom: var(--bw);
  }

  span:nth-child(4) {
    right: var(--bw);
    bottom: var(--bw);
  }

  span:nth-child(5) {
    width: 100%;
    height: 2px;
    border: 1px solid white;
    top: calc(50% - 1px);
    text-align: center;
  }

  span:nth-child(6) {
    height: 100%;
    width: 2px;
    border: 1px solid white;
    left: calc(50% - 1px);
    white-space: nowrap;
  }

  span:nth-child(7) {
    left: 2em;
    top: 2em;

    @include not_mobile() {
      &:after {
        content: 'not mobile';
      }
    }

    @include mobile() {
      &:before {
        content: 'mobile';
      }
    }

    @include mobile-landscape() {
      &:after {
        content: '-landscape';
      }
    }

    @include mobile_smallest() {
      &:after {
        content: '-smallest';
      }
    }
  }

  span:nth-child(8) {
    left: 2em;
    top: 3em;

    @include not_desktop() {
      &:before {
        content: 'not desktop';
      }
    }

    @include desktop() {
      &:after {
        content: 'desktop';
      }
    }
  }

  span:nth-child(9) {
    left: 2em;
    top: 4em;
    &:after {
      content: 'not-tablet';
    }

    @include tablet() {
      &:after {
        content: 'tablet';
      }
    }
  }

  span:nth-child(10) {
    left: 2em;
    top: 5em;
    &:after {
      content: 'not-retina';
    }

    @include retina() {
      &:after {
        content: 'retina';
      }
    }
  }

  span:nth-child(11) {
    left: 2em;
    top: 6em;
    &:after {
      content: 'not-screen';
    }

    @include screen() {
      &:after {
        content: 'screen';
      }
    }
  }

  span:nth-child(12) {
    left: 2em;
    top: 7em;
    &:after {
      content: 'not-print';
    }

    @include print() {
      &:after {
        content: 'print';
      }
    }
  }

  span:nth-child(13) {
    left: 2em;
    top: 8em;
    &:after {
      content: 'no-notch';
    }

    @include mobile_landscape_notch() {
      &:after {
        content: 'notch';
      }
    }
  }
}

.testing-responsive {
  overflow: hidden;
  background-color: blue;
  padding: 0;
  margin: 0;

  app-root {
    display: none;
  }

  @include mobile_landscape_notch() {
    background-color: green;
  }
}

body:not(.testing-responsive) {
  > .test-responsive {
    display: none;
  }
}
