@use '../stylesheets/utilities/responsive' as res;

.tracking-options {
  .tracking-options__deliverees {
    > .mat-button-toggle {
      border-width: 0;
      background-color: transparent;
      width: 100%;

      @include res.mobile_landscape() {
        margin-left: -2px;
      }

      .mat-button-toggle {
        &.mat-button-toggle-checked {
          color: #fff;
          opacity: 0.5;
          font-weight: bold;

          &:nth-of-type(1) { background-color: var(--did-1-color) };
          &:nth-of-type(2) { background-color: var(--did-2-color) };
          &:nth-of-type(3) { background-color: var(--did-3-color) };
          &:nth-of-type(4) { background-color: var(--did-4-color) };
        }
      }

      .mat-button-toggle * {
        line-height: 36px;
        max-height: 36px;
      }

      > button {
        > .mat-button-toggle-label-content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 4px;
          margin-left: 1px;
          padding: 0;

          @include res.mobile_landscape() {
            margin-left: 4px;
          }
        }
      }

      // includes children
      .mat-button-toggle-label-content {
        padding: 0 4px;
      }
    }
  }

  .tracking-options__slider {
    @include res.mobile() {
      height: 48px;
      min-width: 88px;
    }

    @include res.mobile_landscape() {
      height: 48px;
      min-width: 92px;
    }
  }
}

.reports__table {
  .mat-table {
    border-radius: 1em;
  }

  mat-paginator[hidden=true] {
    display: none;
  }

  @include res.mobile() {
    .mat-row,
    .mat-header-row {
      min-height: 32px;
    }
  }
}

.history {
  .mat-card {
    margin: 0.5em 0;
  }
}
